---
import BlockLayout from '../layouts/BlockLayout.astro';
const sections: { id: string; label: string }[] = [];
---
<BlockLayout title="JavaScript" blockNumber={6} blockName="JavaScript" sections={sections}>
  <p>Contenido pendiente.</p>
</BlockLayout>
