---
import BlockLayout from '../layouts/BlockLayout.astro';
const sections: { id: string; label: string }[] = [];
---
<BlockLayout title="JS + AJAX" blockNumber={7} blockName="JS + AJAX" sections={sections}>
  <p>Contenido pendiente.</p>
</BlockLayout>
