---
import BlockLayout from '../layouts/BlockLayout.astro';
const sections: { id: string; label: string }[] = [];
---
<BlockLayout title="Seguridad" blockNumber={5} blockName="Seguridad" sections={sections}>
  <p>Contenido pendiente.</p>
</BlockLayout>
