---
import BlockLayout from '../layouts/BlockLayout.astro';
const sections: { id: string; label: string }[] = [];
---
<BlockLayout title="Servlets / JSP" blockNumber={4} blockName="Servlets / JSP" sections={sections}>
  <p>Contenido pendiente.</p>
</BlockLayout>
